#hero {
  background-image: url("../../assets/images/sign_up_wallpaper.jpeg"),
    linear-gradient(
      0deg,
      rgba(2, 0, 36, 1) 5%,
      rgba(2, 0, 36, 0.5) 52%,
      rgba(2, 0, 36, 0.6979385504201681) 88%
    );

  background-blend-mode: color;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;

  .story-text {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
    width: min(95%, 860px);

    h2 {
      padding: 1rem 0;
    }
  }
}

@media (min-width: $media-tablet-md) {
  .story-text {
    padding: 0 1rem;
  }
}
