button {
    cursor: pointer;
    border:0;
    line-height: normal;
}

.cta-red {
    background-color: $color-red;
    padding: 0.7rem 1.7rem;
    font-weight: 400;
    font-size: 1.4rem;
    border-radius: 4px;
    color: $color-white;
    font-family: "NetflixRegular";
    font-weight: 200;
    letter-spacing: 0.7px;
    text-transform: capitalize;
  }