#media {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 5px;
  height: 100%;
  width: 90%;
  background-color: rgb(24, 24, 24);

  .top {
    width: 100%;
    position: relative;

    img {
      height: auto;
      width: 100%;
      object-fit: cover;
      aspect-ratio: 16 / 9;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .bg-overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        transparent,
        rgba(24, 24, 24, 0.1) 30%,
        rgba(24, 24, 24, 0.5) 60%,
        rgba(24, 24, 24, 0.8) 80%,
        rgba(24, 24, 24, 1) 100%
      );
    }
  }

  .bottom {
    padding: 1rem;
    margin-top: 2rem;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .bio {
        font-size: 1.2rem;
        flex: 2;

        .information {
          span {
            margin-right: 1rem;

            &.age {
              border: 1px solid $color-white;
              padding: 0 0.6rem;
            }
          }
        }

        .description {
          margin-top: 1.5rem;

          p {
            font-size: 1.3rem;
            text-align: justify;
          }
        }
      }

      .details {
        flex: 1;

        .detail {
          font-size: 1.2rem;
          margin: 2rem 0;

          span:nth-child(1) {
            color: $color-grey;
            padding-right: 0.5rem;
          }
        }
      }
    }
  }
}

// .seasons {
//   font-weight: bolder;
// }

@media (min-width: $media-tablet-md) {
  #media {
    width: 80%;

    .top {
      img {
        // width: auto;
        object-fit: contain;
      }
    }

    .bottom {
      padding: 4rem 2rem;

      .content {
        flex-direction: row;

        .bio {
          padding-right: 3rem;

          .information {
            text-align: justify;
            margin-left: 0.5rem;
          }
        }

        .details {
          .detail {
            margin: 0;

            &:nth-child(1) {
              margin-bottom: 1.5rem;
            }
          }
        }
      }
    }
  }
}

@media (min-width: $media-tablet-lg) {
  #media {
    width: min(60%, 60rem);
    height: 80vh;
  }
}
