*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-size: 16px;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  font-family: "NetflixRegular";
  overflow-x: hidden;
}

a,
li {
  list-style: none;
  text-decoration: none;
}

input,
textarea {
  outline: none;
  border: none;
}

button,
input[type="submit"] {
  outline: none;
  border: none;
}

button:hover,
input[type="submit"] {
  cursor: pointer;
}
