*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #0b0b0b;
  --white: #fff;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-size: 16px;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  font-family: "NetflixRegular";
}
