@font-face {
  font-family: "NetflixBlack";
  src: local("NetflixBlack"),
    url("../../assets/fonts/NetflixSansBlack.ttf") format("truetype");
}
@font-face {
  font-family: "NetflixBold";
  src: local("NetflixBold"),
    url("../../assets/fonts/NetflixSansBold.ttf") format("truetype");
}
@font-face {
  font-family: "NetflixLight";
  src: local("NetflixLight"),
    url("../../assets/fonts/NetflixSansLight.ttf") format("truetype");
}
@font-face {
  font-family: "NetflixMedium";
  src: local("NetflixMedium"),
    url("../../assets/fonts/NetflixSansMedium.ttf") format("truetype");
}
@font-face {
  font-family: "NetflixRegular";
  src: local("NetflixRegular"),
    url("../../assets/fonts/NetflixSansRegular.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "NetflixThin";
  src: local("NetflixThin"),
    url("../../assets/fonts/NetflixSansThin.ttf") format("truetype");
}

button {
  font-family: "NetflixRegular";
  line-height: 0;
  cursor: pointer;
}

h1 {
  font-family: NetflixRegular, Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 1.7rem;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.5px;
  font-weight: 800;
}

h2 {
  font-family: NetflixLight, Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.5px;
  font-weight: 500;
}

p {
  font-family: NetflixLight, Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.5px;
  font-weight: 500;
}

@media (min-width: 760px) {
  h1 {
    font-size: 2.7rem;
  }
  h2 {
    font-size: 1.4rem;
  }
}
@media (min-width: 920px) {
  h1 {
    font-size: 3.7rem;
  }
  h2 {
    font-size: 1.625rem;
  }
}
