.cta-red {
  background-color: #e50914;
  line-height: normal;
  padding: 7px 17px;
  font-weight: 400;
  font-size: 1rem;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-family: "NetflixRegular";
  font-weight: 200;
  letter-spacing: 0.7px;
  cursor: pointer;
}

.btn-primary {
  min-height: 64px;
  font-weight: 500;
  font-size: 19px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #e50914;
  min-width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabled {
  pointer-events: none;
}
