.container-960 {
  width: min(95%, 960px);
  margin: 5rem auto;
  height: 100%;
  min-height: 100vh;
}
.container-1200 {
  width: min(95%, 1200px);
  margin: 0 auto;
  height: 100%;
  min-height: 100vh;
}
