.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: white;
  margin-bottom: 4rem;
}

.input-box input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.25rem;
  height: 100%;
  background-color: transparent;
}

.input-box span {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-5%, -50%);
  color: var(--shade);
  display: inline-block;
  transition: 0.3s;
  pointer-events: none;
}

.input-box input:focus ~ span,
.input-box input:valid ~ span {
  transform: translateX(-5px) translateY(-20px);
  font-size: 1.2rem;
  color: var(--grey);
}

.input-box small {
  color: var(--orange);
  position: absolute;
  bottom: -2rem;
  font-size: 1.2rem;
  left: 0;
}

/* helper styles */

.input-padding {
  border: 1px solid var(--grey);
  margin-bottom: 3rem !important;
}

.input-login {
  margin-bottom: 2rem !important;
  border-radius: 5px;
}

.dark-bg {
  background-color: rgba(0, 0, 0, 0.75) !important;
  color: white !important;
}

.input-login span {
  color: var(--grey) !important;
}

@media (min-width: 920px) {
  .input-box {
    margin: 0;
    padding: 0.5rem 0;
  }
  .input-box small {
    bottom: -2rem;
    font-size: 1.3rem;
  }

  .input-signup {
    flex: 2;
  }

  .input-box input:focus ~ span,
  .input-box input:valid ~ span {
    transform: translateX(-13px) translateY(-20px);
  }
}
