.input-box {
  position: relative;
  width: 100%;
  padding: 2rem;
  height: 100%;
  margin-right: 2px;
  background-color: white;
}

.input-box input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.25rem;
  height: 100%;
  background-color: transparent;
}

.input-box span {
  position: absolute;
  top: 1px;
  left: 1px;
  color: var(--grey);
  display: inline-block;
  padding: 20px;
  transition: 0.3s;
  pointer-events: none;
}

.input-box input:focus ~ span,
.input-box input:valid ~ span {
  transform: translateX(-5px) translateY(-15px);
  font-size: 12px;
  color: var(--grey);
}

.input-box small {
  color: var(--orange);
  position: absolute;
  /* bottom: 60px; */
  bottom: -20px;

  font-size: 12px;
  left: 0;
}

/* helper styles */

.input-padding {
  border: 1px solid var(--grey);
  margin-bottom: 2rem;
}

.m-bottom-2 {
  margin-bottom: 2rem;
  border-radius: 5px;
}

.dark-bg {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

@media (min-width: 760px) {
  .input-box small {
    bottom: -20px;
    font-size: 14px;
  }
}
