#admin-category {
  width: min(90%, 1200px);
  margin: 0 auto;

  h1 {
    padding: 3rem 0;
  }

  .container {
    display: flex;
    justify-content: center;

    .cards {
      display: grid;
      width: 1200px;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 15px;

      .card-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        background: #333;

        .card {
          height: 140px;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.btn-display button {
  border-radius: 50%;
  margin: 10px;
  padding: 1rem;
}
