#admin {
  width: min(90%, 960px);
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .admin-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    width: 100%;

    .admin-link {
      padding: 3rem;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      background-color: $color-white;

      h2 {
        color: $color-black;
      }
    }
  }
}
