#recover {
  background-image: url("../../assets/images/the-crown.jpeg");

  .container {
    position: absolute;
    inset: 0;
    width: min(100%, 600px);
    height: 100%;
    background-color: #f3f3f3;

    .content {
      padding: 2rem;
      margin-top: 10rem;

      h2 {
        text-align: left;
        margin-bottom: 2rem;
        color: $color-black;
      }

      p {
        text-align: left;
        color: $color-black;
      }

      form {
        margin: 2rem 0;
      }
    }
  }
}

@media (min-width: $media-tablet-sm) {
  #recover {
    .container {
      height: fit-content;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .content {
        padding: 4rem;
        margin-top: 0;
      }
    }
  }
}
