.login-form {
  position: absolute;
  inset: 0;
  background-color: var(--black);
  color: white;
  height: auto;
}

.login-form {
  height: auto;
  padding: 6rem 2rem;
}

.login-form h1 {
  font-size: 1.8rem;
  text-transform: capitalize;
  text-align: left;
  font-family: "NetflixBold";
  margin-bottom: 2rem;
}

.login-form .btn-signup button {
  color: var(--white);
  font-size: 16px;
  text-align: center;
  font-family: "NetflixBold";
  letter-spacing: 0.6px;
}

.checkbox input[type="checkbox"] {
  margin-right: 0.3rem;
}

.remember-check {
  display: flex;
  justify-content: space-between;
  color: var(--grey);
  padding: 0.5rem 0;
  font-size: 13px;
}

.help {
  color: var(--grey);
}

.sign-up-notice {
  margin-top: 4rem;
}

.sign-up-notice h3 {
  color: #737373;
  font-size: 15px;
  margin-bottom: 1rem;
}
.sign-up-notice span {
  color: var(--white);
}

.sign-up-notice p {
  text-align: left;
  color: #737373;
  font-size: 13px;
}
.sign-up-notice p span {
  color: #5239e1;
}

@media (min-width: 760px) {
  .login-form {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 460px;
    padding: 4rem;
  }
}
