.cards-row-container {
  display: flex;
  justify-content: center;
}

.cards {
  display: grid;
  width: 1200px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background: #333;
}

.card {
  height: auto;
  width: 140px;
}

.card img {
  object-fit: cover;
}

.btn-display button {
  border-radius: 50%;
  margin: 10px;
}
