.hero-landing {
  background-image: url("../../assets/images/sign_up_wallpaper.jpeg"),
    linear-gradient(
      0deg,
      rgba(2, 0, 36, 1) 5%,
      rgba(2, 0, 36, 0) 52%,
      rgba(2, 0, 36, 0.6979385504201681) 88%
    );

  background-blend-mode: color;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: relative;
}

.landing {
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.landing img {
  object-fit: cover;
  width: 100%;
}

.story-text {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 55%;
  left: 50%;
  width: min(95%, 950px);
}

.story-text h1 {
  font-family: NetflixRegular, Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 3.175rem;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.5px;
  font-weight: 800;
}

.story-text h2 {
  font-family: NetflixLight, Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 1.625rem;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.5px;
  font-weight: 500;
  padding: 1rem 0;
}

.story-text p {
  font-family: NetflixLight, Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 1.225rem;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.5px;
  font-weight: 500;
}

/* forms */

.email-form {
  background-color: white;
  padding: 2rem;
}
