.slick-slider {
  /* background-color: yellow; */
  /* padding: 55px; */
  /* margin: 55px 0; */
  /* background-color: yellow; */
  /* padding: 0 55px;
  margin: 55px 0; */
  margin: 2rem 0;
  height: 200px;
}

.item {
  flex: 0 0 19.7%;

  text-align: center;
  /* position: relative; */
}

.slider-title {
  font-size: 1.7rem;
  padding: 1rem 0 0 1.5rem;
  text-align: justify;
  font-weight: bolder;
  text-transform: capitalize;
}

.slick-slide {
  /* height: 190px; */
  transition: transform 300ms ease 100ms;
}

.slick-slide img {
  /* height: 250px; */
  height: 200px;
  object-fit: cover;
  width: 100%;
  /* padding: 3rem; */
  z-index: 10;
  transition: transform 300ms ease 100ms;
  position: relative;
}

.slick-slide div {
  /* margin: 0 10px; */
  outline: 0;
}

/* .slick-slide img:hover {
  transform: scale(1.2);
  z-index: 30 !important;
} */

/* .slick-arrow,
.slick-prev,
.slick-next {
  z-index: 20;
  background: rgba(0, 0, 0, 0.6) !important;
  height: 0px !important;
  width: 45px !important;
  padding: 2rem !important;
} */

/* .slick-prev {
  left: 0 !important;
} */

/* .slick-next {
  right: 0 !important;
} */

.fa-icon {
  color: rgb(197, 196, 196);
  font-size: 3rem;
  margin: 0;
  padding: 0 1rem;
  z-index: 10;
  position: absolute;
  top: 60%;
  transform: translate(0, -100%);
}

.previous {
  left: 0;
}

.next {
  right: 0;
}

.btn__custom-slider {
  background-color: rgba(0, 0, 0, 0.5) !important;
  height: 100%;
  width: 20px;
  z-index: 30;
  position: absolute;
  padding: 2rem;
}

.btn-next {
  top: 0;
  right: 0;
}

.btn-left {
  top: 0;
  left: 0;
}

/* .slick-list:hover .item img {
  transform: translateX(-20px);
}

.slick-slide:hover ~ .item img {
  transform: translateX(20px);
} */
