// Colors
$color-black: #0b0b0b;
$color-white: #fff;
$color-grey: #80868b;
$color-light-grey: #dadce0;
$color-red: #e50914;
$color-orange: #ffa00a;
$color-shade: #333;

// Media queries
$media-tablet-sm: 600px;
$media-tablet-md: 768px;
$media-tablet-lg: 920px;
$media-tablet-xl: 1024px;
$media-dektop: 1200px;
$media-dektop-lg: 1600px;
