@import "./variables";
@import "./fonts";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: $color-black;
  color: $color-white;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  font-family: "NetflixRegular";
  overflow-x: hidden;

  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

a,
li {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

input,
textarea {
  outline: none;
  border: none;
}

button,
input[type="submit"] {
  outline: none;
  border: none;
  line-height: normal;
  cursor: pointer;
}

// .error-container {
//   background-color: white;
//   padding: 5rem 1rem;
//   width: min(95%, 900px);
//   border-radius: 5px;
// }

// .error-container p {
//   color: black;
//   margin-bottom: 2rem;
// }

// .error-container button {
//   display: block;
//   margin: 0 auto;
// }

@media (min-width: 1200px) {
  .medias {
    position: relative;
    bottom: 15rem;
  }
}
