@import "./fonts";

h1 {
  font-family: NetflixBold, Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 1.7rem;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.5px;
  font-weight: 800;
}

h2 {
  font-family: NetflixMedium, Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.5px;
  font-weight: 500;
}

p {
  font-family: NetflixLight, Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 1.7rem;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.6px;
  font-weight: 500;
}

input,
button,
span {
  font-family: NetflixRegular, Arial, Helvetica, sans-serif;
}

@media (min-width: 760px) {
  h1 {
    font-size: 2.7rem;
  }
  h2 {
    font-size: 1.4rem;
  }
}
@media (min-width: 920px) {
  h1 {
    font-size: 3.7rem;
  }
  h2 {
    font-size: 1.625rem;
  }
}
